@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'poppins';
}